<a href="https://colab.research.google.com/github/ssaurabh5/Coursera_Capstone/blob/master/Segmenting_and_Clustering_Neighborhoods_in_Toronto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Segmenting and Clustering Neighborhoods in Toronto

First we import the table from the website into our Dataframe in pandas

In [1]:
import pandas as pd
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(url)

Then we select our table from various tables and select the null values from the table but here in our table null values are represented as 'Not assigned' so we define null values as 'Not assigned' for our dataframe.

In [2]:
df1 = pd.read_html(
    url, 
    na_values=["Not assigned"]
    )[0]

Now we are ready to drop or delete all teh null values from our dataframe

In [3]:
df1 = df1.dropna()

Now to confirm our changes and to see the first 5 values of our dataframe

In [4]:
df1.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

As we can see the index has dropped various values from our dataframe and the index numbers have rearranged so we reset the index to get a cleaner view of the dataframe

In [19]:
df2 = df1.reset_index(drop=True)

Here is our new dataframe with all the null values removed from it

In [20]:
df2.head(12)

   Postal Code  ...                                      Neighbourhood
0          M3A  ...                                          Parkwoods
1          M4A  ...                                   Victoria Village
2          M5A  ...                          Regent Park, Harbourfront
3          M6A  ...                   Lawrence Manor, Lawrence Heights
4          M7A  ...        Queen's Park, Ontario Provincial Government
5          M9A  ...            Islington Avenue, Humber Valley Village
6          M1B  ...                                     Malvern, Rouge
7          M3B  ...                                          Don Mills
8          M4B  ...                    Parkview Hill, Woodbine Gardens
9          M5B  ...                           Garden District, Ryerson
10         M6B  ...                                          Glencairn
11         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...

[12 rows x 3 columns]

In [21]:
df2.isna().sum()

Postal Code      0
Borough          0
Neighbourhood    0
dtype: int64

In [22]:
df2.shape

(103, 3)